*.tfstate
*.tfstate.*
.terraform/
crash.log
crash.*.log
terraform.tfvars
*.auto.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfplan
.terraformrc
terraform.rc

# OS/editor cruft
.DS_Store
.vscode/
